## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
##

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
.history/*
*.code-workspace

# logs
*.log
debug.log
error_log

# AI
CLAUDE.md
AGENTS.md
.claude
.agents

# Others
desktop.ini
Thumbs.db

# WordPress generic
wp-config.php
.htaccess
wp-content/languages/
wp-content/uploads/
wp-content/upgrade/
wp-content/backups/
wp-content/cache/

# WordPress drop-ins (POR REVISAR)
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/db.php
wp-content/sunrise.php
wp-content/maintenance.php