/* Media queries */
/*
'$screen-xs-up'		=> '575.98px',
'$screen-sm-up'		=> '767.98px',
'$screen-md-up'		=> '991.98px',
'$screen-lg-up'		=> '1199.98px', 
'$screen-xl-up'		=> '1359.98px', 
'$screen-xxl-up'	=> '1399.98px', 
'$screen-xs-down'	=> '576px',
'$screen-sm-down'	=> '768px',
'$screen-md-down'	=> '992px',
'$screen-lg-down'	=> '1200px',
'$screen-xl-down'	=> '1366px',
'$screen-xxl-down'	=> '1400px',

@media (max-width: $screen-size-up) {
	... less than ...
}
@media (min-width: $screen-size-down) {
	... more than ...
}
*/
/* Fonts */
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/raleway/Raleway-Regular.eot');
    src: url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Regular.woff') format('woff'),
        url('../fonts/raleway/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('../fonts/raleway/Raleway-ExtraLight.eot');
    src: url('../fonts/raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/raleway/Raleway-ExtraLight.ttf') format('truetype'),
        url('../fonts/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/raleway/Raleway-SemiBold.eot');
    src: url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* Fonts */
/* Variables */
:root {
	--main-font-regular: 'Raleway-Regular';
	--main-font-light: 'Raleway-ExtraLight';
	--main-font-bold: 'Raleway-SemiBold';
    --main-color-primary: #1A76CB;
    --main-color-secondary: #035ea9;
    --main-color-border: #a0a0a0;
    --bs-border-color: var(--main-color-border);
}
/* Variables */
/* Generic */
html, body {
    height: 100%;
}
body {
    background-color: var(--main-color-primary);
    margin: 0px;
    padding: 0px;
	font-family: var(--main-font-regular), 'Open Sans', sans-serif;
	font-size: 0.875rem;
    color: white;
}
img[loading="lazy"] {
    color: transparent !important;
}
a {
    color: var(--main-color);
    text-decoration: none;
}
a[href] {
    cursor: pointer;
}
/* Generic */
/* Helpers */
.lh-0 {
    line-height: 0px !important;
}
.fs-none {
    font-size: 0px !important;
}
.fs-0 {
    font-size: 3.5rem !important;
}
.fs-1 {
	font-size: 2.5rem !important;
}
.fs-2 {
	font-size: 2rem !important;
}
.fs-3 {
	font-size: 1.75rem !important;
}
.fs-4 {
	font-size: 1.5rem !important;
}
.fs-5 {
	font-size: 1.25rem !important;
}
.fs-6 {
	font-size: 1rem !important;
}
.fs-7 {
    font-size: 0.875rem !important;
}
.fs-8 {
    font-size: 0.8rem !important;
}
.fs-9 {
    font-size: 0.775rem !important;
}
.fs-10 {
    font-size: 0.7rem !important;
}
.text-justify-start {
    text-align: justify !important;
    text-align-last: left !important;
}
.text-justify-center {
    text-align: justify !important;
    text-align-last: center !important;
}
.text-justify-end {
    text-align: justify !important;
    text-align-last: right !important;
}
@media (min-width: 576px) {
	.text-sm-justify-start { text-align: justify !important; text-align-last: left !important; }
	.text-sm-justify-center { text-align: justify !important; text-align-last: center !important; }
	.text-sm-justify-end { text-align: justify !important; text-align-last: right !important; }
}
@media (min-width: 768px) {
	.text-md-justify-start { text-align: justify !important; text-align-last: left !important; }
	.text-md-justify-center { text-align: justify !important; text-align-last: center !important; }
	.text-md-justify-end { text-align: justify !important; text-align-last: right !important; }
}
@media (min-width: 992px) {
	.text-lg-justify-start { text-align: justify !important; text-align-last: left !important; }
	.text-lg-justify-center { text-align: justify !important; text-align-last: center !important; }
	.text-lg-justify-end { text-align: justify !important; text-align-last: right !important; }
}
@media (min-width: 1200px) {
	.text-xl-justify-start { text-align: justify !important; text-align-last: left !important; }
	.text-xl-justify-center { text-align: justify !important; text-align-last: center !important; }
	.text-xl-justify-end { text-align: justify !important; text-align-last: right !important; }
}
@media (min-width: 1366px) {
	.text-xxl-justify-start { text-align: justify !important; text-align-last: left !important; }
	.text-xxl-justify-center { text-align: justify !important; text-align-last: center !important; }
	.text-xxl-justify-end { text-align: justify !important; text-align-last: right !important; }
}
.text-multiline {
    white-space: pre-line !important;
}
.text-transparent {
    color: transparent !important;
}
.text-shadow {
    text-shadow: 2px 2px 3px black;
}
.shadow-center {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2)
}
.align-sub {
    vertical-align: sub !important;
}
.cursor-help {
    cursor: help !important;
}
.cursor-zoom {
    cursor: zoom-in !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-default {
    cursor: default !important;
}
/* Helpers */
/* Navigation */
nav {
	
}
/* Navigation */
/* Header */
header {
    
}
/* Header */
/* Main */
main {
    
}
/* Main */
/* Main Example */
main.page-example {
    
}
/* Main */
/* Footer */
header {
    
}
/* Footer */