/* Media queries */
/*
'$screen-xs-up'		=> '575.98px',
'$screen-sm-up'		=> '767.98px',
'$screen-md-up'		=> '991.98px',
'$screen-lg-up'		=> '1199.98px', 
'$screen-xl-up'		=> '1359.98px', 
'$screen-xxl-up'	=> '1399.98px', 
'$screen-xs-down'	=> '576px',
'$screen-sm-down'	=> '768px',
'$screen-md-down'	=> '992px',
'$screen-lg-down'	=> '1200px',
'$screen-xl-down'	=> '1366px',
'$screen-xxl-down'	=> '1400px',

@media (max-width: $screen-size-up) {
	... less than ...
}
@media (min-width: $screen-size-down) {
	... more than ...
}
*/

/*fonts--------------------------------------------------------------
@font-face {
    font-family: 'Teva Sans';
    src: url('../fonts/TevaSans-Regular/TevaSans-Regular.eot');
    src: url('../fonts/TevaSans-Regular/TevaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TevaSans-Regular/TevaSans-Regular.woff2') format('woff2'),
        url('../fonts/TevaSans-Regular/TevaSans-Regular.woff') format('woff'),
        url('../fonts/TevaSans-Regular/TevaSans-Regular.ttf') format('truetype'),
        url('../fonts/TevaSans-Regular/TevaSans-Regular.svg#TevaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teva Sans bold';
    src: url('../fonts/TevaSans-Bold/TevaSans-Bold.eot');
    src: url('../fonts/TevaSans-Bold/TevaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TevaSans-Bold/TevaSans-Bold.woff2') format('woff2'),
        url('../fonts/TevaSans-Bold/TevaSans-Bold.woff') format('woff'),
        url('../fonts/TevaSans-Bold/TevaSans-Bold.ttf') format('truetype'),
        url('../fonts/TevaSans-Bold/TevaSans-Bold.svg#TevaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teva Sans light';
    src: url('../fonts/TevaSans-Light/TevaSans-Light.eot');
    src: url('../fonts/TevaSans-Light/TevaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TevaSans-Light/TevaSans-Light.woff2') format('woff2'),
        url('../fonts/TevaSans-Light/TevaSans-Light.woff') format('woff'),
        url('../fonts/TevaSans-Light/TevaSans-Light.ttf') format('truetype'),
        url('../fonts/TevaSans-Light/TevaSans-Light.svg#TevaSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
-*/



/*fonts/end---------------------------------------------------------------*/


/*Globales ---------------------------------------------------------------*/
:root {

	/*--------fuentes-------*/
	--fuente-principal: 'open sans';
	--fuente-principal-bold: 'open sans bold';
	--fuente-principal-light: 'open sans light';

	--fuente-principal2: 'roboto';
	--fuente-principal-bold2: 'roboto bold';
	--fuente-principal-light2: 'roboto light';

	--fuente-principal3: 'Segoe UI';
	--fuente-principal-bold3: 'Segoe UI Bold';
	--fuente-principal-light3: 'Segoe UI Light';






/*-------- Paleta de colores -------*/

    --main-gris: #acacac;    
    --main-azul: #0073b7;
    --main-gris2: #b1b1b1;
    --main-gris3: #ebebeb;
    --main-colorbanner: #f7f7f7;
    --card-image-h: 200px;
    --card-text-lines: 6;
    --main-azul-1: #022a3b;

    --main-textos-base: var(--main-azul);
    --main-textos-borde: var(--main-gris);
    --main-textos-gris: var(--main-gris3);
    --main-textos-enlaces:var(--main-azul);
    --main-textos-fuente: var(--fuente-principal);
    --main-textos-fuente-bold: var(--fuente-principal-bold);
    --main-fuentes-size: 20px;


	
    

}

.fs-none {
    font-size: 0px !important;
}
.fs-0 {
    font-size: 3.5rem !important;
}
.fs-1 {
    font-size: 2.5rem !important;
}
.fs-2 {
    font-size: 2rem !important;
}
.fs-3 {
    font-size: 1.75rem !important;
}
.fs-4 {
    font-size: 1.5rem !important;
}
.fs-5 {
    font-size: 1.25rem !important;
}
.fs-6 {
    font-size: 1rem !important;
}
.fs-7 {
    font-size: 0.875rem !important;
}
.fs-8 {
    font-size: 0.8rem !important;
}
.fs-9 {
    font-size: 0.775rem !important;
}
.fs-10 {
    font-size: 0.7rem !important;
}
.font-p1 {
    font-family: var(--fuente-principal);
}

.font-p1-bold {
    font-family: var(--fuente-principal-bold);
}

.font-p1-light {
    font-family: var(--fuente-principal-light);
}

.font-p2 {
	font-family: var(--fuente-principal2);	
}
.font-p2-bold {
	font-family: var(--fuente-principal-bold2);	
}
.font-p2-light {
	font-family: var(--fuente-principal-light2);	
}

.font-p3 {
	font-family: var(--fuente-principal3);	
}
.font-p3-bold {
	font-family: var(--fuente-principal-bold3);	
}
.font-p3-light {
	font-family: var(--fuente-principal-light3);	
}



a,
a:visited,
a:hover,
a:active {
    outline: none;
}

button,
button:visited,
button:hover,
button:active {
    outline: none;

}

.btn,
.btn:visited,
.btn:hover,
.btn:active,
.btn:focus-visible {

    box-shadow: none;

}

.is-opacity {
    transition: opacity ease 0.3s;
}

.is-opacity:hover {
    transition: opacity ease 0.3s;
    opacity: 0.5;
}

.is-scale {
    transition: transform ease 0.3s;
}

.is-scale:hover {

    transition: transform ease 0.3s;
    transform: scale(1.3);
}

.is-scale-sm {
    transition: transform ease 0.3s;
}

.is-scale-sm:hover {

    transition: transform ease 0.3s;
    transform: scale(1.1);
}

.is-scale-xs {
    transition: transform ease 0.3s;
}

.is-scale-xs:hover {

    transition: transform ease 0.3s;
    transform: scale(1.05);
}

.is-boton {

    font-family: 'Teva Sans';
    font-size: 20px;
    border-radius: 0px;
    background-color: var(--main-azul);
    color: white;
    padding: 0px 10px;
    margin: 50px 0px;
    border: none;
}



/*logos auspiciadores */
.main-logo-auspiciador a {

    display: inline-block;
    padding: 10px 20px;
}

.main-logo-auspiciador img {

    width: 100%;
    height: auto;
    max-width: 275px;
    max-height: 86px;
}


.is-main-textos {
	font-family: var(--main-textos-fuente);
	font-size: var(--main-fuentes-size);
	line-height: 28px;
	text-align: justify;
}
.is-main-textos > *:nth-last-child(1) {
	margin-bottom: 0px !important;
}
.is-main-textos p a:not(.is-popup),
.is-main-textos p a:not(.is-popup):visited,
.is-main-textos p a:not(.is-popup):hover,
.is-main-textos p a:not(.is-popup):active {
	background-color: var(--main-textos-enlaces);
	color: white;
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-block;
	line-height: 20px;
}
.is-main-textos b,
.is-main-textos strong {
	font-family: var(--main-textos-fuente-bold);
	font-weight: normal;
	color: black;
}
.is-main-textos a b,
.is-main-textos a strong {
	color: white;
}
.is-main-textos p:nth-last-child(1) {
	margin-bottom: 0px;
}
.is-main-textos ul a,
.is-main-textos ul a:visited,
.is-main-textos ul a:hover,
.is-main-textos ul a:active,
.is-main-textos ol a,
.is-main-textos ol a:visited,
.is-main-textos ol a:hover,
.is-main-textos ol a:active {
	font-family: var(--main-textos-fuente);
	color: var(--main-textos-enlaces);
}
.is-main-textos ul {
	padding-left: 0px;
}
.is-main-textos ul li {
	list-style: none;
	padding-left: 17px;
	position: relative;
}
.is-main-textos ul li:before {
	content: '';
	width: 7px;
	height: 7px;
	vertical-align: middle;
	display: inline-block;
	background-color: var(--main-textos-base);
	position: absolute;
	top: 9px;
	left: 0;
}
.is-main-textos ul li > ul li:before {
	background-color: white;
	border: 1px solid var(--main-textos-borde);
}
.is-main-textos ol {
	padding-left: 0px;
	counter-reset: item;
}
.is-main-textos ol > li {
	list-style: none;
	padding-left: 33px;
	position: relative;
	counter-increment: li;
	margin-bottom: 5px;
}
.is-main-textos ol > li:nth-last-child(1) {
	margin-bottom: 0px;
}
.is-main-textos ol > li:before {
	content: counter(item); /* counters(item, ".") " " */
	counter-increment: item;
	vertical-align: middle;
	display: inline-block;
	background-color: var(--main-textos-base);
	position: absolute;
	top: 2px;
	margin-left: -33px;
	color: white;
	padding: 0px 5px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.5px;
	min-width: 22px;
	text-align: center;
}
.is-main-textos ol > li > ol {
	margin-top: 5px;
}
.is-main-textos ol > li > ol > li:before {
	background-color: white;
	border: 1px solid var(--main-textos-borde);
	color: var(--main-textos-base);
}
.is-main-textos.text-center li,
.is-main-textos li[style*="text-align: center"] {
	display: inline;
}
.is-main-textos.text-center li:before,
.is-main-textos li[style*="text-align: center"]:before {
	top: 5px;
}
.is-main-textos.text-center li:after,
.is-main-textos li[style*="text-align: center"]:after {
     content: "\A";
     white-space: pre; 
}
.is-main-textos img {
	max-width: 100%;
    display: inline-block;
    height: auto !important;
}
.is-main-textos *:not(table).aligncenter {
    display: block;
    margin: 0px auto;
	text-align: center;
}
.is-main-textos .alignleft {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.is-main-textos .alignright {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 575.98px) {	
	.is-main-textos .aligncenter,
	.is-main-textos .alignleft,
	.is-main-textos .alignright {
		width: 100%;
   		margin-right: 0px;
   		margin-left: 0px;
   		margin-bottom: 1.5rem;
	}
}
.is-main-textos h1:nth-child(1),
.is-main-textos h2:nth-child(1),
.is-main-textos h3:nth-child(1),
.is-main-textos h4:nth-child(1),
.is-main-textos h5:nth-child(1),
.is-main-textos h6:nth-child(1) {
	margin-top: 0px;
}
.is-main-textos h1,
.is-main-textos h2,
.is-main-textos h3,
.is-main-textos h4,
.is-main-textos h5,
.is-main-textos h6 {
	font-family: var(--main-textos-fuente-bold);
	font-weight: normal;
	color: var(--main-textos-base);
	margin-bottom: 0.5rem;
	/* h3 only */
	line-height: 33px;
	font-size: 24px;
}
.is-main-textos iframe {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.is-main-textos table.aligncenter{
	margin: 0 auto;
   	margin-bottom: 1.5rem;
}
.is-main-textos table{
	border: none;
	margin-bottom: 20px;
}
.is-main-textos table tr:nth-child(1) th{
	border-top: 1px solid var(--main-textos-base);
}
.is-main-textos table tr:nth-child(1) td{
	border-top: 1px solid var(--main-textos-borde);
}
.is-main-textos table tr:nth-child(odd){
	background-color: var(--main-textos-gris);
}
.is-main-textos table tr th:nth-child(1){
	border-left: 1px solid var(--main-textos-base);
}
.is-main-textos table tr td:nth-child(1){
	border-left: 1px solid var(--main-textos-borde);
}
.is-main-textos table tr th{
	font-family: var(--main-textos-fuente-bold);
	font-weight: normal;
	background-color: var(--main-textos-base);
	color: white;
	text-transform: uppercase;
	padding: 8px 10px;
	font-size: 14px;
	line-height: 20px;
	border-right: 1px solid var(--main-textos-base);
	border-bottom: 1px solid var(--main-textos-base);
}
.is-main-textos table tr td{
	font-family: var(--main-textos-fuente);
	color: black;
	padding: 8px 10px;
	font-size: 15px;
	line-height: 19px;
	border-right: 1px solid var(--main-textos-borde);
	border-bottom: 1px solid var(--main-textos-borde);
}
/*Global/end-------------------------------------------------------------*/